<!-- TODO: Responsive -->
<% flash.each do |type, msg| %>
  <div data-controller="flash" class="p-4 text-sm mt-2 rounded-lg dark:bg-gray-800 border rounded-lg <%= flash_classes(type) %>" role="alert">
    <span class="font-medium"><%= msg %></span>
  </div>
<% end %>
