<% classes = class_names(
  "text-red-800 bg-red-50 border-red-300 dark:text-red-400 dark:border-red-800": type.to_sym == :alert,
  "text-green-800 bg-green-50 border-green-300 dark:text-green-400 dark:border-green-800": type.to_sym == :notice,
  "text-blue-800 bg-blue-50 border-blue-300 dark:text-blue-400 dark:border-blue-800": type.to_sym == :info,
  "text-yellow-800 bg-yellow-50 border-yellow-300 dark:text-yellow-400 dark:border-yellow-800": type.to_sym == :warn,
  "text-gray-800 bg-gray-50 border-gray-300 dark:text-gray-400 dark:border-gray-800": type.to_sym == :default
) %>

<div data-controller="flash" class="p-4 text-sm mt-2 rounded-lg dark:bg-gray-800 border rounded-lg <%= classes %>" role="alert">
  <span class="font-medium"><%= message %></span>
</div>
